apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: mongodb
  labels:
    app: mongodb
spec:
  replicas: 3
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: vitalii1992/docker_mongo-replicator
          imagePullPolicy: Always
          ports:
            - containerPort: 27017
---
apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: orderservice
  labels:
    app: orderservice
  spec:
    replicas: 3
    selector:
      matchLabels:
        app: orderservice
    template:
      metadata:
          labels:
            app: orderservice
      spec:
        containers:
          - name: orderservice
            image: vitalii1992/order_service:latest
            imagePullPolicy: Always
            ports:
              - containerPort: 8080
            env:
              - name: SERVER_PORT
                value: 8080
#                - name: URI
#                  value: mongodb://
