spring:
  data:
    mongodb:
      uri: mongodb://mongodb/account

security:
  oauth2:
    client:
      clientId: account
      clientSecret: 1234
      accessTokenUri: http://auth-service:8084/uaa/oauth/token
      grant-type: client_credentials
      scope: server

    resource:
      user-info-uri: http://auth-service:8084/uaa/user/current
      token-info-uri: http://auth-service:8084/uaa/oauth/check_token